<h3 class="pageHeader">Make some friends today !</h3>

<div class="row mainContainer">
    <div class="col-md-6">
        <div class="newUserFormContainer">
            <div class="formHeader"></div>
            <div class="formBody">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="banner center">Welcome to The Social Network !</h4>
                        <div class="bannerText center">The only social network where you can make friends without any signup. Simply enter your first and last name to get started !</div>
                    </div>
                    <div class="col-md-6">
                        <form class="newuserForm">
                            <div class="form-group">
                                <input type="firstname" class="form-control" id="firstname" placeholder="First name" ng-model="user.firstname">
                            </div>
                            <div class="form-group">
                                <input type="lastname" class="form-control" id="lastname" placeholder="Last name" ng-model="user.lastname">
                            </div>
                            <div class="center">
                                <button type="submit" class="btn btn-default" ng-click="signInUser()">Sign up!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>