<div class="mainContainer">
    <div class="loader" ng-if="isLoading">Loading...</div>
    <div class="profileContainer" ng-if="!isLoading">
        <div class="profileHeader">
            <span class="profileImg"><img ng-src="{{user.profileImg}}" alt=""></span>
            <span class="profileName" ng-bind="user.name"></span>
            <span class="glyphicon {{editing ? 'glyphicon-floppy-disk' : 'glyphicon-pencil'}}" aria-hidden="true" ng-click="edit()"></span>
            <div class="clearFix"></div>
            <span class="profileHeadline" ng-if="!editing" ng-bind="user.headline"></span>
            <input type="text" class="form-control profileHeadline" id="profileHeadline" ng-if="editing" placeholder="Write a short one liner about yourself here" size="100" ng-model="user.headline">
        </div>
        <div class="profileBody">
            <div class="form-group">
                <label for="WhatIDo">I am...</label>
                <span class="profileTxt" ng-if="!editing" ng-bind="user.whatIDo"></span>
                <input type="text" class="form-control" id="WhatIDo" ng-if="editing" ng-model="user.whatIDo">
            </div>
            <div class="form-group">
                <label for="WhatILike">I like...</label>
                <span class="profileTxt" ng-if="!editing" ng-bind="user.whatILike"></span>
                <input type="text" class="form-control" id="WhatILike" ng-if="editing" ng-model="user.whatILike">
            </div>
        </div>
    </div>
</div>